<nav>
      <ul class="nav-text">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/allProducts">View Products</a>
        </li>
        {{#if logged_in}}
        <li>
          <a href="/addProducts">Add a Product</a>
        </li>
        {{/if}}
        {{#if logged_in}}
        <li>
          <a id="logout" href="#">Log out</a>
        </li>
        {{else}}
         <li>
          <a href="/login">Log in</a>
        </li>
        {{/if}}
      </ul>
    </nav>