<nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/allProducts">All Products</a>
        </li>
        {{#if logged_in}}
        <li>
          <a href="/addProducts">Add New Product</a>
        </li>
        {{/if}}
        {{#if logged_in}}
        <li>
          <a id="logout" href="#">Logout</a>
        </li>
        {{else}}
         <li>
          <a href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </nav>