
<section id='heading'>
      <div class="container">
        <div class="section-title text-center text-white">
          <h4>Best Smart Tech</h4>
          <p>Smart Tech cover all the objects or devices used in your home, office, or school that are connected to the internet.</p>
       
  </div>
         <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class='place'>
              <div class="pic"><img src="https://i.pinimg.com/originals/6f/c1/b0/6fc1b0d8c08b492537f483e6b84c4cdb.jpg" class="img-fluid" alt="pic1">
                <div class="overlay">
                  <div class="subtitle">Smart Tech</div>
                  </div>
              </div>      
            </div>
           </div>
             <div class="col-lg-4 col-md-6">
            <div class='place'>
              <div class="pic"><img src="https://m.media-amazon.com/images/I/81zpCCNnByL._AC_SL1500_.jpg" class="img-fluid" alt="pic2">
                 <div class="overlay">
                  <div class="subtitle">Smart Tech</div>
                  </div>
              </div>
            </div>
           </div>
             <div class="col-lg-4 col-md-6">
            <div class='place'>
              <div class="pic"><img src="https://www.apple.com/newsroom/images/product/watch/standard/Apple_delivers-apple-watch-series-6_09152020_big.jpg.large.jpg" class="img-fluid" alt="pic3">
                 <div class="overlay">
                  <div class="subtitle">Buy Now </div>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
  </section>
  <footer class="footer">
  
      
          <h2> &copy; ALL Rights Reserved 2022</h2>
    
  </div>
</footer>
