
<section id="heading homepage">
      <div class="container">
        <div class="text-center homepage">
          <h4 class="homepage">Smart Tech for Your Needs </h4>
          <p>At Smart Tech, we provide you with all the essentials to use in your home, office, or school.</p>    
  </div>

         <div class="row">
          <div class="col-lg-4">
            <div class='place'>
              <div class="pic"><img src="https://i.pinimg.com/originals/6f/c1/b0/6fc1b0d8c08b492537f483e6b84c4cdb.jpg" class="img-fluid" alt="pic1">
                <div class="overlay">
                  <div class="subtitle">  <a href="/Allproducts">Buy Now</div></a>
                  </div>
              </div>      
            </div>
           </div>
             <div class="col-lg-4">
            <div class='place'>
              <div class="pic"><img src="https://m.media-amazon.com/images/I/81zpCCNnByL._AC_SL1500_.jpg" class="img-fluid" alt="pic2">
                 <div class="overlay">
                  <div class="subtitle"><a href="/Allproducts">Buy Now</div></a>
                  </div>
              </div>
            </div>
           </div>
             <div class="col-lg-4 col-md-6">
            <div class='place'>
              <div class="pic"><img src="https://www.apple.com/newsroom/images/product/watch/standard/Apple_delivers-apple-watch-series-6_09152020_big.jpg.large.jpg" class="img-fluid" alt="pic3">
                 <div class="overlay">
                  <div class="subtitle"><a href="/Allproducts">Buy Now </div></a>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
  </section>
  <footer class="footer">
  
      
          <h2> &copy; All Rights Reserved 2022</h2>
    
  </div>
</footer>
