
<section id="heading homepage">
      <div class="container">
        <div class="text-center homepage">
          <h4 class="homepage"> Smart Buying, Smart Tech</h4>
          <p>At Smart Tech, we provide you with all the essentials to use in your home, office, or school.</p>   
           <p><a class="grey" href="/login">Log in or sign up</a> </p>
  </div>
         <div class="row">
          <div class="col-lg-6">
            <div class='place'>
              <div class="pic"><img src="https://i.pinimg.com/originals/6f/c1/b0/6fc1b0d8c08b492537f483e6b84c4cdb.jpg" class="img-fluid" alt="pic1">
                <div class="overlay">
                  <div class="subtitle">  <a href="/Allproducts">View products</div></a>
                  </div>
              </div>      
            </div>
           </div>
            <div class="col-lg-6">
            <div class='place'>
              <div class="pic"><img src="https://www.trustedreviews.com/wp-content/uploads/sites/54/2021/11/X1000248-scaled.jpeg" class="img-fluid" alt="pic1">
                <div class="overlay">
                  <div class="subtitle">  <a href="/Allproducts">View products</div></a>
                  </div>
              </div>      
            </div>
           </div>
             <div class="col-lg-6">
            <div class='place'>
              <div class="pic"><img src="https://m.media-amazon.com/images/I/81zpCCNnByL._AC_SL1500_.jpg" class="img-fluid" alt="pic2">
                 <div class="overlay">
                  <div class="subtitle"><a href="/Allproducts">View Products</div></a>
                  </div>
              </div>
            </div>
           </div>
             <div class="col-lg-6">
            <div class='place'>
              <div class="pic"><img src="https://images.unsplash.com/photo-1600541519467-937869997e34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBwbGUlMjBwaG9uZXxlbnwwfHwwfHw%3D&w=1000&q=80" class="img-fluid" alt="pic">
                 <div class="overlay">
                  <div class="subtitle"><a href="/Allproducts">View products </div></a>
                  </div>
              </div>
            </div>
           </div>
        </div>
      </div>
  </section>
  <footer class="footer">


    <script>


    </script>
  
      
          <h2> &copy; All Rights Reserved 2022</h2>
    
  </div>
</footer>
