
  <div class="col-md-12 p-5">
    <h2 class="align-center"> Log in</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-control border border-dark" type="email" id="email-login" />
      <div id="login-email">
      </div>
    
      <div class="form-outline mb-4">
        <label for="password-login">Password:</label>
        <input class="form-control border border-dark" type="password" id="password-login" />
      </div>
      
      <div class="form-group">
        <button class="btn btn-warning border border-warning bg-white" type="submit">Log in</button>
      </div>
    </form>

    <form class="form signup-form">
      <div class="form-group">
         <h2 class="align-center">Sign up</h2>
        <label for="name-signup">Name:</label>
        <input class="form-control border border-dark" type="text" id="name-signup" />
      </div>
      <div class="form-outline mb-4">
        <label for="email-signup">Email:</label>
        <input class="form-control border border-dark" type="text" id="email-signup" />
      </div>
      <div class="form-outline mb-4">
        <label for="password-signup">Password:</label>
        <input class="form-control border border-dark" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary border border-primary bg-white" type="submit">Sign up</button>
      </div>
    </form>
</div>

<script src="../js/login.js"></script>