
<div class="container">
        <div class="row align-center">
    <h3 class="align-center">Products</h3>
       {{#each products}}
        <div>
            <div class="product-grid8">
                <div class="product-image8">
                    <a href="#">
                        <img class="pic-1" src="https://bgr.com/wp-content/uploads/2021/08/dell-xps-13-9310-6.jpg?quality=82&strip=all&w=1440&h=810&crop=1">
                       
                    </a>
                    <ul class="social">
                       
                        <li><a href="" class="fa fa-shopping-bag"></a></li>
                        <li><a href="" class="fa fa-shopping-cart"></a></li>
                    </ul>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="product-content">
                   <h3 class="title"><a href="#">{{title}}</a></h3>
                    <span class="describtion">{{description}}</span>
                    <div class="price">£{{price}}
                    </div>
                    <a class="buy-icon" href="">Buy Now <i class="fa fa-angle-right icon"></i></a>
                </div>      
    </div>
</div>
<br> </br>
{{/each}}
