@import url('https://fonts.googleapis.com/css?family=Lato');
:root {
  --primary-color: #e6f0f4;
  --primary-hover-color: #64a5b7;
  --primary-hover-color: #032028;
  --bg-color: rgb(2, 8, 53);
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

@font-face {
  font-family: "MemphisRiver";
  src: url(fonts/MemphisRiver.ttf) format("truetype");
}
@font-face {
  font-family: "Roblox";
  src: url(fonts/Roblox-Font-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roblox";
  src: url(fonts/Roblox-Font-Bold.ttf) format("truetype");
  font-weight: bold;
}

navbar {
  width: 100%;
  display: flex;
  align-items: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  width: 100%;
  
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}


.align-center{
  justify-content: center;
  display: flex;
}


header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
  font-size: 18px;
}

header nav li {
  margin: 0 1rem;
}



header.inner {
  background: var(--bg-color);
  border-bottom: 10px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}


.btn {
  color: rgb(63, 53, 53);
  padding: 0.6rem;
  border: 1px solid rgb(71, 61, 61);
  transition: all 0.7s;
}



.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}



.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
  }
  





.products {
  background: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  color: rgb(9, 15, 15);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  flex-direction:var(--bg-color);
}


.jumbotron {
  color: #2c3e50;
  background-color: #ecf0f1;
}


h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* shopping Demo-1 **********************/
.product-grid{height: 150%; width: 100%;font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);position:relative;z-index:1; display:flex; justify-content: space-between; padding: 2%;}
.product-grid .product-image{transition:all .3s ease 0s}
.product-grid .product-image img{height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1;}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:30px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}


#products {
  background: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  color: rgb(9, 15, 15);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  flex-direction:var(--bg-color);
}


.products ul {
  list-style: none;
  display: flex;
  font-family:monospace;
  font-size: 20px;
 
}



.products li {
  margin-right: 9.5rem;
  padding: 1.6rem;
 
}




.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}


@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }





  .products ul {
    flex-direction: column;
  }

  .products .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
}


@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }





  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}
